* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #ffffff;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container > header {
    background: #ffffff;
    text-align: center;
    padding-top: 1rem;
}

main {
    background: #ecedea;
    font-size: 20px;
    padding: 1rem;
}

footer {
    background: #b5b7b8;
    height: 3rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-size: medium;
}

/* NAV */
nav {
    background: #5c5d5e;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #ecedea;
    border-right: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #ecedea;
    padding: 15px;
}

/* MAIN */
main > header {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 800;
}

.logo{
    position:static;
	left: -10px;
    top: -40px;
    width: 20%;
    height: 20%;
}

.produto { margin-bottom: 20px; cursor: pointer; }
.produto p {
    background-color: #414040;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    
}
.img_home:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
#preco p:hover {
    transform: rotate(0deg); 
    background-color: #b5b7b8;
    color: #000000;   
}
.menu_home:hover {
    background-color: #b5b7b8;
    color: whitesmoke;
}

